<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="float.css">

<style>
  #page {
    width:90+%;
    margin:auto;
    border:solid;
    padding:20px;
    text-align:center;
  }
  h1{
    margin-bottom:10%;
  }
</style>
<title>Muscle Group</title>

</head>
<body>
  <div id="page">
    <h1> <span>Muscle Group</span></h1>
    <img src="https://i.ytimg.com/vi/e3fYlWyzDKA/maxresdefault.jpg" alt="image of muscle zoomed in" width=50%>
    <div>
      <span>
        <h2> <span>name</span></h2>
        <img src="https://pbs.twimg.com/media/D4H6zaaXsAAN1N9.jpg" alt="image of stretch" width=50%>
        <span>details</span>
      </span>
    </div>
    <span><a href="https://google.com" class="button">Back to Home Page</a></span>
  </div>
</body>
<script>

</script>
</html>
