<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recovery Lab | Home</title>
    <script src="../static/js/home.js" defer></script>
    <link rel="stylesheet" href="css/home.css" />
  </head>
  <body>
    <div class="container">
      <!--Header-->
      <header>
        <h1>Website Name</h1>
      </header>

      <!--About Us-->
      <section class="about">
        <h2>About Us</h2>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. A commodi,
          accusantium possimus ex repudiandae sapiente ducimus voluptatibus
          pariatur incidunt quod fuga harum qui dolor consequatur, magnam
          numquam maxime ipsam velit eius! Dolores veritatis dignissimos a
          necessitatibus sapiente error ratione consequuntur?
        </p>
      </section>

      <!--Stretch-->
      <section class="stretch">
        <!--Search Input-->
        <div class="search">
          <label for="search">Search Users</label>
          <input
            type="search"
            id="search"
            onkeyup="user_search()"
            onclick="clicked()"
          />
        </div>

        <!--Search Results-->
        <div class="results">
          <div class="result">Muscle1</div>
          <div class="result">Nuscle2</div>
          <div class="result">Puscle3</div>
          <div class="result">Quscle4</div>
          <div class="result">Ruscle5</div>
        </div>

        <!--Figure-->
        <div class="figure">
          <img src="" alt="Human Muscle Figure" />
        </div>
      </section>
    </div>
  </body>
</html>
