<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Website Name</title>
    <script src="../static/js/home.js" defer></script>
    <link rel="stylesheet" href="css/home.css" />
  </head>
  <body>
    <div class="container" onclick="released()">
      <!--Header-->
      <header>
        <h1>Website Name</h1>
      </header>

      <!--About Us-->
      <section class="about">
        <h2>About Us</h2>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. A commodi,
          accusantium possimus ex repudiandae sapiente ducimus voluptatibus
          pariatur incidunt quod fuga harum qui dolor consequatur, magnam
          numquam maxime ipsam velit eius! Dolores veritatis dignissimos a
          necessitatibus sapiente error ratione consequuntur?
        </p>
      </section>

      <!--Stretch-->
      <section class="stretch">
        <!--Search Input-->
        <div class="search">
          <label for="search">Search Users</label>
          <input
            type="search"
            id="search"
            onkeyup="user_search()"
            onclick="clicked()"
          />
        </div>

        <!--Search Results-->
        <div class="results">
          <div class="result">
            <a
              href="https://sites.google.com/fcpsschools.net/mcleanhsacademicadvising/home?authuser=1&pli=1"
              >Mascle</a
            >
          </div>
          <div class="result" onclick="addEvent('hamstring')">Muscle</div>
          <div class="result"><a href="#">Nuscle</a></div>
          <div class="result"><a href="#">Puscle</a></div>
          <div class="result"><a href="#">Quscle</a></div>
          <div class="result"><a href="#">Ruscle</a></div>
        </div>

        <!--Figure-->
        <div class="figure">
          <img src="" alt="Human Muscle Figure" />
        </div>
      </section>
    </div>
  </body>
</html>
